name: Build and Push Image
on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 4 * * 0"

jobs:
  build-scan-deploy:
    name: Version, Build, Scan, Push, and Deploy
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      attestations: write
      packages: write

    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}

    steps:
      # -------------------------
      # Checkout source
      # -------------------------
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.ref_name }}

      - name: Set short git commit SHA
        id: vars
        run: |
          calculatedSha=$(git rev-parse --short ${{ github.sha }})
          echo "COMMIT_SHORT_SHA=$calculatedSha" >> $GITHUB_ENV

      # -------------------------
      # Login to GitHub Container Registry
      # -------------------------
      - name: Set up Docker Buildx (container driver)
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      # -------------------------
      # Build Docker image
      # -------------------------
      - name: Build
        uses: docker/build-push-action@v6
        id: build
        with:
          context: .
          push: false
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.COMMIT_SHORT_SHA }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          load: true

      # -------------------------
      # Run Trivy security scan
      # -------------------------
      - name: Trivy Scan - Unknown, Low and Medium Severity
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'image'
          image-ref: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.COMMIT_SHORT_SHA }}
          exit-code: 0
          severity: UNKNOWN,LOW,MEDIUM
          format: 'table'
          vuln-type: 'os,library'
          output: trivy-table.txt
      - name: Add Trivy results to job summary
        if: always()
        run: |
          {
            echo "## Trivy UNKNOWN, LOW, MEDIUM Vulnerability Report"
            echo
            echo "Scan target: docker-image"
            echo
            echo "Generated by aquasecurity/trivy-action@0.33.1"
            echo
            echo '```text'
            cat trivy-table.txt
            echo '```'
          } >> "$GITHUB_STEP_SUMMARY"

      - name: Trivy Scan - High and Critical Severity
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'image'
          image-ref: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.COMMIT_SHORT_SHA }}
          exit-code: 1
          format: 'table'
          ignore-unfixed: true
          vuln-type: 'os,library'
          skip-setup-trivy: true
          output: trivy-table-high.txt
          severity: HIGH,CRITICAL

      - name: Add Trivy results to job summary
        if: always()
        run: |
          {
            echo "## Trivy HIGH, CRITICAL Vulnerability Report"
            echo
            echo "Scan target: docker-image"
            echo
            echo "Generated by aquasecurity/trivy-action@0.33.1"
            echo
            echo '```text'
            cat trivy-table-high.txt
            echo '```'
          } >> "$GITHUB_STEP_SUMMARY"

      # -------------------------
      # Push images to registry
      # -------------------------
      - name: Push Docker images
        run: |
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.COMMIT_SHORT_SHA }}

      - name: ntfy-success-notifications
        uses: niniyas/ntfy-action@master
        if: success()
        with:
          url: 'https://ntfy.tuxed.dev'
          topic: 'gitea-actions'
          priority: 4
          tags: tada
          details: Workflow has been successfully completed!
      - name: ntfy-failure-notifications
        uses: niniyas/ntfy-action@master
        if: failure()
        with:
          url: 'https://ntfy.tuxed.dev'
          topic: 'gitea-actions'
          priority: 4
          tags: rotating_light
          details: Workflow has failed!
      - name: ntfy-cancel-notifications
        uses: niniyas/ntfy-action@master
        if: cancelled()
        with:
          url: 'https://ntfy.tuxed.dev'
          topic: 'gitea-actions'
          priority: 4
          tags: stop_sign
          details: Workflow has been cancelled!
